.single {
	padding: 2px 16px;
	background-color: #fff;
	display: block;
	margin: 20px 10px;
	cursor: pointer;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.1);
	transition: all 235ms ease-in-out;
	border: 2px solid #41403e;
}

.single:hover {
	color: #4979ff;
	transform: translate3d(0, 2px, 0);
	box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}
